/* CSS Document */

/*===============reset===================*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a,
span,
input,
div,
section,
article,
aside,
figure,
figcaption,
dl,
dt,
dd,
p,
img {
    padding: 0;
    margin: 0;
}

header,
footer,
nav,
aside,
action,
article,
figure,
figcaption {
    display: block;
}

section{
    width: 100%;
}


nav{
    width: 100%;
    height: 384px;
}
.n_d0{
    background: url(../images/list5/img_about.png) no-repeat center center;
    height:374px;
    padding-top: 85px;
}





article{
    width: 100%;
    height: 1900px;
    position: relative;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
}
.a_d0{
    position: absolute;
    top: 15px;
    left: 120px;
    width: 135px;
    height: 210px;
    border: 5px solid rgb(204, 204, 204);
}
.a_d0 .ul00{
    text-align: center;
    line-height: 30px;
    list-style: none;
}

.a_d0 .ul00 a{
    text-decoration: none;
    color: black;
}
.a_d0 .ul00 li:hover{
    background-color: rgb(0, 149, 255);
    color: white;
}

.a_d1{
    position: absolute;
    width: 1000px;
}
.a_d1 .p110{
    width: 650px;
    margin-top: 120px;
    margin-left: 80px;
    font-size: 13px;
    text-indent: 2em;
    line-height: 22px;
}
.a_d1 .p111{
    width: 650px;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 13px;
    text-indent: 2em;
    line-height: 22px;
}
.a_d1 .d11 .d110{
    width: 352px;
    height: 301px;
    margin-top: -190px;
    margin-left: 740px;
}

.a_d2{
    position: absolute;
}
.a_d2 .d20{
    height: 475px;
    width: 292px;
    position: absolute;
    top: 430px;
    left: -550px;
}

.a_d2 .d21{
    position: absolute;
    top: 460px;
    left: -230px;
    
}
.a_d2 .d21 .p210{
    font-size: 20px;
}

.a_d2 .d21 .p211,.a_d2 .d22 .p211,.a_d2 .d23 .p211,.a_d2 .d24 .p211,.a_d2 .d24 .p211{
    font-size: 14px;
    width: 750px;
    line-height: 25px;
}

.a_d2 .d22{
    position: absolute;
    top: 570px;
    left: -230px;
    
}
.a_d2 .d22 .p220{
    font-size: 20px;
}

.a_d2 .d23{
    position: absolute;
    top: 680px;
    left: -230px;
    
}
.a_d2 .d23 .p230{
    font-size: 20px;
}

.a_d2 .d24{
    position: absolute;
    top: 830px;
    left: -230px;
    
}
.a_d2 .d24 .p240{
    font-size: 20px;
}

.a_d3{
    position: absolute;
}
.a_d3 .p30{
    position: absolute;
    width: 250px;
    top: 1000px;
    left: -105px;
    font-size: 32px;
}
.a_d3 .p30 span{
    color: rgb(0, 149, 255);
}

.a_d3 .d300{
    position:absolute;
    height: 200px;
    width: 122px;
    top: 1230px;
    left: -450px;
    text-align: center;
}
.a_d3 .d310{
    position:absolute;
    height: 200px;
    width: 122px;
    top: 1230px;
    left: -180px;
    text-align: center;
}
.a_d3 .d320{
    position:absolute;
    height: 200px;
    width: 122px;
    top: 1230px;
    left: 80px;
    text-align: center;
}
.a_d3 .d330{
    position:absolute;
    height: 200px;
    width: 122px;
    top: 1230px;
    left: 350px;
    text-align: center;
}

.a_d4 .p40{
    position: absolute;
    top: 1400px;
    left: 700px;
    font-size: 32px;
    color: rgb(0, 149, 255);
}
.a_d4 .p41{
    position: absolute;
    top: 1480px;
    left: 335px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}